* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 55px;
  margin: 0 auto;
}

.content {
  padding-bottom: 100px;
}

li {
  list-style: none;

}

.heading {
  padding: 0 20px;
  font-size: large;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #544177;
}

.item {
  padding: 50px 20px 40px 20px;
  font-size: 35px;
  font-weight: normal;
  color: black;
}

.explanation {
  padding-right: 20px;
  color: black;
  font-size: 17px;
  font-weight: normal;
  line-height: 30px;
  margin-right: 30px;
}

.only {
  padding-left: 40px;
}

.content .img {
  border-radius: 50px;
}

hr {
  width: 80%;
}

/* header */
header {
  width: 100%;
  opacity: 0.8;
  position :fixed;
  padding: 0 15px;
  top: 0;
  z-index: 10;
}

.logo-left {
  width: 180px;
  margin-top: 20px;
}

.logo-right {
  width: 80px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

/* top-wrapper */
.top-wrapper {
  padding-top: 10px;
  padding-bottom: 20px;
  background-image: url(./images/background.jpg);
  background-size: cover;
  text-align: left;
}

.team-logo {
  margin-right: 30px;
}

ul {
  display: flex;
}

.team {
  list-style: none;
  padding-bottom: 30px;
  margin: 0px;
  text-align: center;
}

.team li {
  flex: auto;
}

.class-name {
  color: #4D4D4D;
  font-weight: 400;
  font-size: 25px;
}

.title {
  margin-top: 80px;
  padding-right: 30px;
}

.key-visual {
  border-radius: 10px;
  box-shadow: 10px 10px rgba(119, 229, 211, 0.3), -10px -10px rgba(243, 177, 105, 0.3);
}

/* concept-wrapper */

/* feature-wrapper */
.item .fa-solid {
  color:#b37e2d;
}

.color {
  border-radius: 0;
}

.flex-column {
  flex-direction: column;
}

/* evaluation-wrapper */
.evaluation {
  font-size: 20px;
}

.evaluation .fa-check {
  color:#00bd42;
}

.evaluation .fa-triangle-exclamation {
  color:#bd4f00;
}

.blank {
  height: 50px;
}

footer {
  padding: 20px 0;
  background-color: #f7f7f7;
}

.reference {
  font-size: 14px;
}